In [1]:
import pandas as pd
import glob
import numpy as np

In [2]:
from tqdm.auto import tqdm

In [3]:
glob.glob('*')

['News Articles', 'BBC News Summary', 'Summaries', 'BBC Data.ipynb']

In [4]:
files = glob.glob('*/**/*.txt',recursive=True)
text, category = [], []
for file in tqdm(files):
    category.append(file.split('/')[-2])
    with open(file,'rb') as f:
        try:
            txt = f.read().decode("utf-8")
        except:
            txt = f.read()
        text.append(txt)

HBox(children=(FloatProgress(value=0.0, max=8900.0), HTML(value='')))

In [5]:
# Keeping only useful data and common in all other datasets
# Assuming all the news here are Facts (data from BBC)
df = pd.DataFrame({'title':' ',"text":text,'fake':0})
df.head()

  title                                               text  fake
0        Musicians to tackle US red tape\n\nMusicians' ...     0
1        U2's desire to be number one\n\nU2, who have w...     0
2        Rocker Doherty in on-stage fight\n\nRock singe...     0
3        Snicket tops US box office chart\n\nThe film a...     0
4        Ocean's Twelve raids box office\n\nOcean's Twe...     0

Breaking the original Dataset into chunks as the single files are to large to upload

In [6]:
chunk_df = np.array_split(df, 3)
for chunk in tqdm(range(len(chunk_df))):
    chunk_df[chunk].to_csv('4_{}.csv'.format(chunk),index=False)

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))