In [1]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm

In [2]:
fake_df = pd.read_csv('Fake.csv')
fact_df = pd.read_csv('True.csv')

In [3]:
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
fact_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
# Keeping only useful data and common in all other datasets
fake_df = pd.read_csv('Fake.csv',usecols=['title','text'])
fact_df = pd.read_csv('True.csv',usecols=['title','text'])
fake_df['fake'] = 1
fact_df['fake'] = 0

Breaking the original Dataset into chunks as the single files are to large to upload

In [6]:
i=0
for df in tqdm((fake_df, fact_df)):
    chunk_df = np.array_split(df, 10)
    for chunk in chunk_df:
        chunk.to_csv('1_{}.csv'.format(i),index=False)
        i+=1

HBox(children=(FloatProgress(value=0.0, max=2.0), HTML(value='')))